.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0c857b;
  --secondary-color: #00e1ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
